.footer{
    padding-top: 20px;
    &__decor{
        margin:10px;
        width: 300px;
        height: 4px;
        background-color:$main-color;
        margin: 0 auto;
    }
    &__wrap>div{
        width: 33.3%;
        @media screen and (max-width:992px) {
           width: 100%;
        }
        }
    &__wrap{
        :nth-child(1){
        @media screen and (max-width:768px) {
            order:2;
        }
    }
    :nth-child(2){
        @media screen and (max-width:768px) {
            order:1;
        }
    }
   :nth-child(3){
         @media screen and (max-width:768px) {
            order:3;
        }
    }
        }
    // .first_second{
    //     @media screen and (max-width:768px) {
    //         order:2;
    //     }
    // }
    // .second-first{
    //     @media screen and (max-width:768px) {
    //         order:1;
    //     }
    // }
    // .third{
    //      @media screen and (max-width:768px) {
    //         order:3;
    //     }
    // }
    &__wrap{
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width:992px) {
            flex-direction: column;
            justify-content: center;
            align-items:center;
            gap: 10px;
        }
    }
    &__social_list{
        display: flex;
        justify-content: flex-start;
        gap: 15px;
        @media screen and (max-width:992px) {
            justify-content: center;
            padding: 0px;
        }  
    }
    &__social_item{
        display: flex;
        justify-content: center;
        align-items:center;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background-color:black;
    }
    &__nav_wrap{
        display: flex;
        justify-content: center;
        align-items:center;
    }
    &__nav_wrap{
        display: flex;
        flex-direction: column;
        gap:20px;
    }

    &__menu{
        margin: 0;
        display: flex;
        justify-content: center;
        column-gap: 20px;
        list-style-type: none;
        font-weight: 300;
        font-size: 13px;
        text-transform: uppercase;
        color: #070716;
        padding-left: 0;
        @media screen and (max-width:768px) {
            font-style: 13px;
            gap: 13px;
        }
    }
    &__submenu{
        margin: 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
        list-style-type: none;
        font-weight: 300;
        font-size: 11px;
        text-transform: uppercase;
        color: #999;
        padding-left: 0;
        
    }
    &__link{
        display: block;
        font-weight: 400;
        font-size: 11px;
        text-transform: uppercase;
        text-align: center;
        color: #1fbad6;
        text-decoration: none;
    }
    &__pay{
        display: flex;
        justify-content: end;
         @media screen and (max-width:992px) {
            justify-content: center;
        }
    }

}